<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask Question</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light bg-light border mb-3">
        <span class="navbar-brand mr-auto">Welcome {{logged_user.username}}</span>
        <a class="nav-link" href="/dashboard">Home</a>
        <a class="nav-link" href="/users/logout">Logout</a>
    </nav>
    <div class="container text-center col-6">
        <h2>Ask a new Question</h2>
        <form action="/questions/create" method="POST">
            <input placeholder="Question" class="form-control mb-2" type="text" name="question">
            {% for error in get_flashed_messages(category_filter=["Question.question"]) %}
                <p class="alert alert-danger">{{error}}</p>
            {% endfor %}
            <textarea placeholder="Description" class="form-control mb-2" rows="6" name="description"></textarea>
            <button class="btn btn-secondary">Ask question</button>
        </form>
    </div>
</body>
</html>